<ion-header>
  <ion-navbar color="sterlite">
    <ion-title>Purchase Requisitions</ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content class="mainContent">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let p of objSearch" (click)="prDetails(p)">
      <ion-row>
        <ion-col col-6>
          <h2>Req # {{p.old[0].PurchaseRequisitionRelease[0].PRR_PRNUMBER}}</h2>
        </ion-col>
        <ion-col col-6 style="text-align: right">
          <h2>{{p.old[0].PurchaseRequisitionRelease[0].LINECOUNT}} Items</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 style="text-align: right">
          <p>
            <span style="font-size: 16px; color: black;">{{p.old[0].PurchaseRequisitionRelease[0].PRR_CURRENCY}}</span>&nbsp;
            <span style="font-size: 18px; color: black;">{{p.old[0].PurchaseRequisitionRelease[0].fracValue}}</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="paraHead">
  Sterlite Power
</ion-footer>