page-pr-list{
    .list-md[inset],
    .list-ios[inset] {
        margin: 0px;
        border-radius: 2px;
    }

    .card-md,
    .card-ios {
        margin: 0px;
        border-radius: 0px; 
        width: auto; 
        // font-size: 1.4rem;
        // background: #fff;
        // -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
}