<ion-content padding class="guide-modal">

    <ion-icon *ngIf="showForm" class="close-button" id="close-button" name="close-circle" (tap)="dismiss()"></ion-icon>
    <div>
        <p style="text-align: center; font-size: 2rem">
            <b>Change Password</b>
        </p>
        <form *ngIf="!showForm" [formGroup]="changePassForm">
            <ion-row [hidden]="true">
                <ion-col col-6>Old Password: </ion-col>
                <ion-col col-6>
                    <ion-input type="password" formControlName="oldPass" readonly></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>New Password:</ion-col>
                <ion-col col-6>
                    <ion-input type="password" formControlName="newPass"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>Confirm Password:</ion-col>
                <ion-col col-6>
                    <ion-input type="password" formControlName="cnewPass"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <button ion-button block color="sterlite" [disabled]="!changePassForm.valid || isUnchanged" (tap)="submit()">Submit</button>
                </ion-col>
            </ion-row>
        </form>

        <form *ngIf="showForm" [formGroup]="changePassForm">
            <ion-row>
                <ion-col col-6>Old Password: </ion-col>
                <ion-col col-6>
                    <ion-input type="password" formControlName="oldPass"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>New Password:</ion-col>
                <ion-col col-6>
                    <ion-input type="password" formControlName="newPass"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>Confirm Password:</ion-col>
                <ion-col col-6>
                    <ion-input type="password" formControlName="cnewPass"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <button ion-button block color="sterlite" [disabled]="!changePassForm.valid || isUnchanged" (tap)="submit()">Submit</button>
                </ion-col>
            </ion-row>
        </form>
    </div>
</ion-content>