page-po-details {

  .divNew{
    padding: 5px;
  }

  ion-row{
    padding-top: 5px;
    padding-bottom: 5px;
  }
    .tableClass {
      // table {   
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        // border: 3px solid purple;
      // }
      
      thead th:nth-child(1) {
        width: 30%;
      }
      
      thead th:nth-child(2) {
        width: 20%;
      }
      
      thead th:nth-child(3) {
        width: 15%;
      }
      
      thead th:nth-child(4) {
        width: 35%;
      }
      
      th, td {
        padding: 10px;
      }
    } 

    .tableClass2 {
      // table {
        border-collapse: collapse;
        width: 100%;
      // }
    
      th, td {
          text-align: left;
          padding: 8px;
      }
    
      tr:nth-child(even) {background-color: #f2f2f2;}
    }

    // .list-md[inset],
    // .list-ios[inset] {
    //   margin: 0px;
    //   border-radius: 2px;
    // }
}
