<ion-header>

  <ion-navbar color="sterlite">
    <ion-title>PO # {{poData.por_ponumber[0]}} ({{objhead.LineCount}})</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="mainContent">
  <div class="divNew">
    <ion-row>
      <ion-col col-4>
        <b>Plant</b>
      </ion-col>
      <ion-col col-8>{{objhead.Plant}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <b>Plant Name</b>
      </ion-col>
      <ion-col col-8>{{objhead.PlantName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <b>Requester</b>
      </ion-col>
      <ion-col col-8>{{objhead.Requester}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <b>Partner Name</b>
      </ion-col>
      <ion-col col-8>{{objhead.PartnerName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <b>Payterms</b>
      </ion-col>
      <ion-col col-8>{{objhead.PaytermDescription}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <b>Incoterm</b>
      </ion-col>
      <ion-col col-8>{{objhead.IncoTerm1}}&nbsp;{{objhead.IncoTerm2}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <b>Value</b>
      </ion-col>
      <ion-col col-8>{{objhead.Currency}}&nbsp;{{objhead.netvalnum}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <b>Created On</b>
      </ion-col>
      <ion-col col-8>{{objhead.CreatedOnNew | date:'dd-MM-yyyy'}}</ion-col>
    </ion-row>
  
    <ion-fab top right *ngIf="docsList.length > 0">
      <button ion-fab mini color="gpsc" (click)="openFileList($event, objhead)">
        <ion-icon name="document"></ion-icon>
      </button>
    </ion-fab>
  </div>
  <ion-list>
    <ion-item style="border-bottom: 1px solid #0065b3;">
      <ion-row>
        <ion-col col-6>
          <h2>Item(s)</h2>
        </ion-col>
        <ion-col col-6 (tap)="(showDiv = !showDiv)" style="text-align: right;">
          <ion-icon *ngIf="showDiv" name="add" color="sterlite"></ion-icon>
          <ion-icon *ngIf="!showDiv" name="remove" color="danger"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <div *ngIf="!showDiv">
      <ion-item *ngFor="let p of objline">
        <ion-row>
          <ion-col col-6>
            <h2>
              <b>Item # {{p.LineItemsNew}}</b>
            </h2>
          </ion-col>
          <ion-col col-6></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <h3 ion-text tex-wrap>{{p.MaterialDescription}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <h3>{{p.Quantity}}&nbsp;{{p.UOM}}</h3>
          </ion-col>
          <ion-col col-8 style="text-align: right">
            <h3>{{p.LineCurrency}}&nbsp;{{p.netvalnum}}</h3>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>

  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="sterlite">
    <ion-row>
      <ion-col col-6>
        <button ion-button block color="secondary" (tap)="approvePO()">Approve</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="danger" (tap)="rejectPO()">Reject</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
