<ion-header>
  <ion-navbar color="sterlite">
    <ion-title>
      <div style="text-align: center;">
        <img src="assets/imgs/sterlogo.png" height="13px" />
      </div>
      <div style="text-align: center; font-size: 12px; letter-spacing: 2px;">Welcome, {{user_name}}</div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="info()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="mainContent">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row  style="margin-top: 15%;padding: 8px;">
  <div style="width: 100%; float: left; ">
    <ion-col class="buttonClass" (tap)="prlist()">
      <p style="font-size: 18px;">Purchase Requisitions</p>
      <span class="spanSt">{{count1}}</span>
    </ion-col>
  </div>
  </ion-row>

  <ion-row style="padding: 8px; ">
    
    <div style="width:100%; float: right;">
      <ion-col class="buttonClass" (tap)="polist()">
        <p style="font-size: 18px;">Purchase Orders</p>
        <span class="spanSt">{{count}}</span>
      </ion-col>
    </div>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="sterlite">
    <ion-row>
      <ion-col col-6 style="letter-spacing: 1px; text-align: center; color: #fff; border-right: 1px solid #fff;" (tap)="changePass()">
        <ion-icon name="person"></ion-icon>&nbsp;Change Password
      </ion-col>
      <ion-col col-6 style="letter-spacing: 1px; text-align: center; color: #fff; border-left: 1px solid #fff;" (tap)="logout()">
        <ion-icon name="log-out"></ion-icon>&nbsp;Logout
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>