page-home {
    
    .divNew{
        padding: auto;
        margin: 3%;
    }

    // ion-col {
    //     span{
    //         font-size: 25px;
            
    //     }
    // }


    .buttonClass {
        display: inline-block;
        background: #0065b3;
        // padding: 55px 4rem;
        min-height: 150px;
        padding: auto;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 5px;
        border: 1px solid white;
        box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all ease-in-out 300ms;
        touch-action: pan-y; 
        // text-align: center
    }
    .button-md,
    .button-ios {
        // border-radius: 2px;
        // overflow: hidden;
        height: 15.6rem;
        font-size: 20px;
        // font-size: 1.4rem;
    }

    .buttonClass:active {
        background-color: #0065b3;
        transform: translateY(4px);
    }

    // #notification-button {            
    //     position: relative;
    //     // width: 42px;
    //     top:1px;
    //     right: 1px;
    //     overflow: visible!important;
    // }


    // #notifications-badge {
    //     // background-color: red;
    //     position: absolute;
    //     // top: -3px;
    //     right: 3px;
    //     // right: 5px;
    //     // border-radius: 100%;
    //     // left: 0px;
    //     bottom: 0;
    // }

    .spanSt{
        color: #f2f2f2;
        // top: 20;
        margin-top: 15%;
        float: right;
        font-size: 36px;
    }
}
