page-po-list {

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  .list-md[inset],
  .list-ios[inset] {
      margin: 0px;
      border-radius: 2px;
  }
  
}
