<ion-header>

  <ion-navbar color="sterlite">
    <ion-title>
      <div style="letter-spacing: 2px;">Purchase Orders</div>
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content class="mainContent">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let o of objSearch" (tap)="poDetails(o)">
      <ion-row>
        <ion-col col-6>

          <h2>PO # {{o.old[0].STL_TRA_PORELEASE[0].por_ponumber}}</h2>

          <h4 style="margin-top: 5%;" *ngIf="!o.old[0].STL_TRA_PORELEASE[0].por_vendor_name[0].$">
            {{o.old[0].STL_TRA_PORELEASE[0].por_vendor_name}}</h4>
        </ion-col>
        <ion-col col-6 style="text-align: right">
          <!-- <h2>{{p.old[0].PurchaseRequisitionRelease[0].LINECOUNT}} </h2> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 style="text-align: right">
          <p>
            <span style="font-size: 16px; color: black;"
              *ngIf="!o.old[0].STL_TRA_PORELEASE[0].por_currency[0].$">{{o.old[0].STL_TRA_PORELEASE[0].por_currency}}</span>&nbsp;
            <span style="font-size: 18px; color: black;"
              *ngIf="o.old[0].STL_TRA_PORELEASE[0].por_netvalue!='NaN'">{{o.old[0].STL_TRA_PORELEASE[0].por_netvalue}}</span>
            <span style="font-size: 18px; color: black;"
              *ngIf="o.old[0].STL_TRA_PORELEASE[0].por_netvalue=='NaN' ">0</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="paraHead">
  Sterlite Power
</ion-footer>