// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.popover-md .popover-viewport {
  background: #0065b3;
}
@font-face {
    font-family: 'GothamPro-Medium';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/gotham/GothamPro-Medium.eot');
    src: url('../assets/fonts/Lato-300/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    local('gotham Light'),
    local('gotham'),
    url('../assets/fonts/gotham/GothamPro-Medium.woff2') format('woff2'),
    url('../assets/fonts/gotham/GothamPro-Medium.woff') format('woff'),
    url('../assets/fonts/gotham/GothamPro-Medium.ttf') format('truetype'),
    url('../assets/fonts/gotham/GothamPro-Medium.svg#Lato') format('svg');
}
.mainContent{
    // background: transparent;
    // background-image: url("../assets/imgs/Index_background.png");
    // background-size: cover;
}

.contact-popover .popover-content{ width: auto; }

.alertCustomCss {
    color: white; // text color for basic alerts
    // button {
    //     color: white !important;
    //     background-color: color($colors, secondary, base) !important;
    // }
    .btton {
        // color: white !important;
        color: color($colors, secondary) !important;
        // background-color: color($colors, secondary, base) !important;
    }
    .alert-message {
        color: white; // text color for confirm alerts
    }
    .alert-wrapper {
        background-color: color($colors, dark, base);
    }
  }
  .paraHead{
    text-align: center; background-color:#0065b3; padding: 10px;
    color: white;
  }
