<ion-header>

  <ion-navbar color="sterlite">
    <ion-title>Req # {{prnum}} ({{count}})</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="mainContent">
  <div class="divNew" *ngIf="typeAR == 'l'">
    <ion-list>
      <div padding *ngFor="let p of obj; let i = index;" class="divClass">
        <ion-row>
          <ion-col col-6>
            <b>Item # {{p.old[0].PurchaseRequisitionRelease[0].LineItemsNew}}</b>
          </ion-col>
          <ion-col col-6 style="text-align: right">
            <b>{{p.old[0].PurchaseRequisitionRelease[0].isoDate | date:'dd-MM-yyyy'}}</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 ion-text text-wrap>
            {{p.old[0].PurchaseRequisitionRelease[0].PRR_MATERIAL_DESC}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4>
            {{p.old[0].PurchaseRequisitionRelease[0].PRR_QUANTITY}}&nbsp;
            <span
              *ngIf="!p.old[0].PurchaseRequisitionRelease[0].PR_LINE_UOM[0].$">{{p.old[0].PurchaseRequisitionRelease[0].PR_LINE_UOM}}</span>
          </ion-col>

          <ion-col col-8 style="text-align: right">
            {{p.old[0].PurchaseRequisitionRelease[0].PRR_CURRENCY}}&nbsp;
            <span style="font-size: 18px;">{{p.old[0].PurchaseRequisitionRelease[0].fracValue}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            Requisitioner:&nbsp;
            <span
              *ngIf="!p.old[0].PurchaseRequisitionRelease[0].PRR_CREATEDBY[0].$">{{p.old[0].PurchaseRequisitionRelease[0].PRR_CREATEDBY}}</span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="p.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == '3R'">
          <ion-col col-12 *ngIf="p.old[0].PurchaseRequisitionRelease[0].PRR_COMMEMTS != '[object Object]'">
            <b>Comments</b>:&nbsp;{{p.old[0].PurchaseRequisitionRelease[0].PRR_COMMEMTS}}
          </ion-col>
          <ion-col col-12 *ngIf="p.old[0].PurchaseRequisitionRelease[0].PRR_COMMEMTS == '[object Object]'">
            <b>Comments</b>:&nbsp;N/A
          </ion-col>
        </ion-row>
        <ion-row *ngIf="p.values">
          <ion-col col-12>
            <b>Comments</b>:&nbsp;{{p.values}}
          </ion-col>
        </ion-row>

        <ion-row style="padding-left: 0px !important;"
          *ngIf="p.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == '3A' || p.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == '4'">
          <ion-col col-4>
            <button ion-button small round color="secondary" [disabled]="true">Approve</button>
          </ion-col>
          <ion-col col-2>
            <img src="assets/imgs/right-image-png-4.png" height="20" width="20"
              style="opacity: 0.5; margin-left: 4px; margin-top: 8px;" />
          </ion-col>
          <ion-col col-6 style="text-align: right">
            <button ion-button small round color="grey" [disabled]="true">Reject</button>
          </ion-col>
        </ion-row>
        <ion-row style="padding-left: 0px !important;"
          *ngIf="p.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == '3R'">
          <ion-col col-6>
            <button ion-button small round color="grey" [disabled]="true">Approve</button>
          </ion-col>
          <ion-col col-2 style="text-align: right">
            <img src="assets/imgs/New Project.png" height="20" width="20"
              style="opacity: 0.5; margin-top: 8px; margin-right: -12px" />
          </ion-col>
          <ion-col col-4 style="text-align: right">
            <button ion-button small round color="danger" [disabled]="true">Reject</button>
          </ion-col>
        </ion-row>

        <div *ngIf="p.tax != 'reject' && p.tax != 'approve'">
          <ion-row style="padding-left: 0px !important;" *ngIf="p.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == 1">
            <ion-col col-6>
              <button ion-button small round color="secondary" (tap)="approveFunc(p);"
                [ngStyle]="{'background-color': p.approvebuttonColor}">Approve</button>
            </ion-col>
            <ion-col col-6 style="text-align: right">
              <button ion-button small round color="danger" (tap)="rejectFunc(p);"
                [ngStyle]="{'background-color': p.rejectbuttonColor}">Reject</button>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="p.tax == 'reject' || p.tax == 'approve'">
          <ion-row style="padding-left: 0px !important;" *ngIf="p.old[0].PurchaseRequisitionRelease[0].PRR_STATUS == 1">
            <ion-col col-4 *ngIf="p.tax == 'approve'">
              <button ion-button small round color="secondary" (tap)="approveFunc(p);"
                [ngStyle]="{'background-color': p.approvebuttonColor}">Approve</button>
            </ion-col>
            <ion-col col-6 *ngIf="p.tax == 'reject'">
              <button ion-button small round color="secondary" (tap)="approveFunc(p);"
                [ngStyle]="{'background-color': p.approvebuttonColor}">Approve</button>
            </ion-col>
            <ion-col col-2 *ngIf="p.tax == 'approve'">
              <img src="assets/imgs/right-image-png-4.png" height="20" width="20"
                style="margin-left: 4px; margin-top: 8px;" />
            </ion-col>

            <ion-col col-2 style="text-align: right" *ngIf="p.tax == 'reject'">
              <img src="assets/imgs/New Project.png" height="20" width="20"
                style="margin-right: -12px; margin-top: 8px;" />
            </ion-col>

            <ion-col col-6 style="text-align: right" *ngIf="p.tax == 'approve'">
              <button ion-button small round color="danger" (tap)="rejectFunc(p);" *ngIf="p.tax == 'approve'"
                [ngStyle]="{'background-color': p.rejectbuttonColor}">Reject</button>
              <button ion-button small round color="danger" (tap)="rejectFunc(p);" *ngIf="p.tax != 'approve'"
                [ngStyle]="{'background-color': p.rejectbuttonColor}">Reject</button>
            </ion-col>
            <ion-col col-4 style="text-align: right" *ngIf="p.tax == 'reject'">
              <button ion-button small round color="danger" (tap)="rejectFunc(p);" *ngIf="p.tax == 'approve'"
                [ngStyle]="{'background-color': p.rejectbuttonColor}">Reject</button>
              <button ion-button small round color="danger" (tap)="rejectFunc(p);" *ngIf="p.tax != 'approve'"
                [ngStyle]="{'background-color': p.rejectbuttonColor}">Reject</button>
            </ion-col>

          </ion-row>
        </div>

        <ion-row *ngIf="p.showBTN">
          <ion-col col-10 style="text-align: left">
            <ion-input class="inst" [(ngModel)]="p.comment" type="text" placeholder="add comments"></ion-input>
          </ion-col>
          <ion-col col-2 style="text-align: right">
            <button ion-button small [disabled]="p.comment == undefined || p.comment == ''"
              (tap)="addComment(p.comment, p, i)">Add</button>
          </ion-col>
        </ion-row>

      </div>
    </ion-list>
  </div>

  <div class="divNew" *ngIf="typeAR == 'h'">
    <ion-list>
      <div padding *ngFor="let p of obj; let i = index;" class="divClass">
        <!-- <ion-item *ngFor="let p of obj"> -->
        <ion-row>
          <ion-col col-12>
            <b>Item # {{p.old[0].PurchaseRequisitionRelease[0].LineItemsNew}}</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 ion-text text-wrap>
            {{p.old[0].PurchaseRequisitionRelease[0].PRR_MATERIAL_DESC}}
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col col-8>
            <h3 ion-text text-wrap>{{p.old[0].PurchaseRequisitionRelease[0].PRR_MATERIAL_DESC}}</h3>
          </ion-col>
          <ion-col col-4 style="text-align: right">
            <h3>{{p.old[0].PurchaseRequisitionRelease[0].PRR_QUANTITY}}&nbsp;
              <span
                *ngIf="!p.old[0].PurchaseRequisitionRelease[0].PR_LINE_UOM[0].$">{{p.old[0].PurchaseRequisitionRelease[0].PR_LINE_UOM}}</span>
            </h3>
          </ion-col>
        </ion-row> -->
        <!-- <ion-row>
          <ion-col col-6>
            <h3>{{p.old[0].PurchaseRequisitionRelease[0].PRR_CURRENCY}}</h3>
          </ion-col>
          <ion-col col-6 style="text-align: right">
            <h1>{{p.old[0].PurchaseRequisitionRelease[0].fracValue}}</h1>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col col-4>
            {{p.old[0].PurchaseRequisitionRelease[0].PRR_QUANTITY}}&nbsp;
            <span
              *ngIf="!p.old[0].PurchaseRequisitionRelease[0].PR_LINE_UOM[0].$">{{p.old[0].PurchaseRequisitionRelease[0].PR_LINE_UOM}}</span>
          </ion-col>

          <ion-col col-8 style="text-align: right">
            {{p.old[0].PurchaseRequisitionRelease[0].PRR_CURRENCY}}&nbsp;
            <span style="font-size: 18px;">{{p.old[0].PurchaseRequisitionRelease[0].fracValue}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            Requisitioner:&nbsp;
            <span
              *ngIf="!p.old[0].PurchaseRequisitionRelease[0].PRR_CREATEDBY[0].$">{{p.old[0].PurchaseRequisitionRelease[0].PRR_CREATEDBY}}</span>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="paraHead">
  <!-- <div *ngIf="lineApp == ''"> -->
  <div *ngIf="typeAR == 'l'">
    Sterlite Power
  </div>
  <div *ngIf="typeAR == 'l'">
    <button ion-button color="light" block (tap)="submitApproval()" *ngIf="lineApp != ''">Submit</button>
  </div>
  <div *ngIf="typeAR == 'h'">
    <ion-row>
      <ion-col col-6>
        <button ion-button block color="secondary" (tap)="approvePR()">Approve</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="danger" (tap)="rejectPR()">Reject</button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>